nifi/trams.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>70ac9da5-017c-1000-2656-afa0aa2db845</groupId>
    <name>trams</name>
    <snippet>
        <processGroups>
            <id>6899aed7-f2f7-394d-0000-000000000000</id>
            <parentGroupId>4eaf619e-07be-3b6f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>1c7e3f1f-6d4b-30f9-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>cdf038dd-ee27-34c6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>bb682217-76de-3242-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>793160ab-6d25-3f12-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>a7d63edb-781e-3c6e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>cdf038dd-ee27-34c6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>908ae3da-7adb-3270-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>260a1821-4eb7-3f2c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>a7d63edb-781e-3c6e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processors>
                    <id>260a1821-4eb7-3f2c-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>1144.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-2-6-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>bootstrap.servers</key>
                                <value>
                                    <name>bootstrap.servers</name>
                                </value>
                            </entry>
                            <entry>
                                <key>security.protocol</key>
                                <value>
                                    <name>security.protocol</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.mechanism</key>
                                <value>
                                    <name>sasl.mechanism</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.service.name</key>
                                <value>
                                    <name>sasl.kerberos.service.name</name>
                                </value>
                            </entry>
                            <entry>
                                <key>kerberos-credentials-service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                                    <name>kerberos-credentials-service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.principal</key>
                                <value>
                                    <name>sasl.kerberos.principal</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.keytab</key>
                                <value>
                                    <name>sasl.kerberos.keytab</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.username</key>
                                <value>
                                    <name>sasl.username</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.password</key>
                                <value>
                                    <name>sasl.password</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.token.auth</key>
                                <value>
                                    <name>sasl.token.auth</name>
                                </value>
                            </entry>
                            <entry>
                                <key>ssl.context.service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                                    <name>ssl.context.service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>topic</key>
                                <value>
                                    <name>topic</name>
                                </value>
                            </entry>
                            <entry>
                                <key>acks</key>
                                <value>
                                    <name>acks</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Failure Strategy</key>
                                <value>
                                    <name>Failure Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>use-transactions</key>
                                <value>
                                    <name>use-transactions</name>
                                </value>
                            </entry>
                            <entry>
                                <key>transactional-id-prefix</key>
                                <value>
                                    <name>transactional-id-prefix</name>
                                </value>
                            </entry>
                            <entry>
                                <key>attribute-name-regex</key>
                                <value>
                                    <name>attribute-name-regex</name>
                                </value>
                            </entry>
                            <entry>
                                <key>message-header-encoding</key>
                                <value>
                                    <name>message-header-encoding</name>
                                </value>
                            </entry>
                            <entry>
                                <key>kafka-key</key>
                                <value>
                                    <name>kafka-key</name>
                                </value>
                            </entry>
                            <entry>
                                <key>key-attribute-encoding</key>
                                <value>
                                    <name>key-attribute-encoding</name>
                                </value>
                            </entry>
                            <entry>
                                <key>message-demarcator</key>
                                <value>
                                    <name>message-demarcator</name>
                                </value>
                            </entry>
                            <entry>
                                <key>max.request.size</key>
                                <value>
                                    <name>max.request.size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>ack.wait.time</key>
                                <value>
                                    <name>ack.wait.time</name>
                                </value>
                            </entry>
                            <entry>
                                <key>max.block.ms</key>
                                <value>
                                    <name>max.block.ms</name>
                                </value>
                            </entry>
                            <entry>
                                <key>partitioner.class</key>
                                <value>
                                    <name>partitioner.class</name>
                                </value>
                            </entry>
                            <entry>
                                <key>partition</key>
                                <value>
                                    <name>partition</name>
                                </value>
                            </entry>
                            <entry>
                                <key>compression.type</key>
                                <value>
                                    <name>compression.type</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>bootstrap.servers</key>
                                <value>localhost:9092</value>
                            </entry>
                            <entry>
                                <key>security.protocol</key>
                                <value>PLAINTEXT</value>
                            </entry>
                            <entry>
                                <key>sasl.mechanism</key>
                                <value>GSSAPI</value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
                                <key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
                                <key>sasl.username</key>
                            </entry>
                            <entry>
                                <key>sasl.password</key>
                            </entry>
                            <entry>
                                <key>sasl.token.auth</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>ssl.context.service</key>
                            </entry>
                            <entry>
                                <key>topic</key>
                                <value>input-trams</value>
                            </entry>
                            <entry>
                                <key>acks</key>
                                <value>0</value>
                            </entry>
                            <entry>
                                <key>Failure Strategy</key>
                                <value>Route to Failure</value>
                            </entry>
                            <entry>
                                <key>use-transactions</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>transactional-id-prefix</key>
                            </entry>
                            <entry>
                                <key>attribute-name-regex</key>
                            </entry>
                            <entry>
                                <key>message-header-encoding</key>
                                <value>UTF-8</value>
                            </entry>
                            <entry>
                                <key>kafka-key</key>
                                <value>${lines}</value>
                            </entry>
                            <entry>
                                <key>key-attribute-encoding</key>
                                <value>utf-8</value>
                            </entry>
                            <entry>
                                <key>message-demarcator</key>
                            </entry>
                            <entry>
                                <key>max.request.size</key>
                                <value>1 MB</value>
                            </entry>
                            <entry>
                                <key>ack.wait.time</key>
                                <value>5 secs</value>
                            </entry>
                            <entry>
                                <key>max.block.ms</key>
                                <value>5 sec</value>
                            </entry>
                            <entry>
                                <key>partitioner.class</key>
                                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
                                <key>partition</key>
                            </entry>
                            <entry>
                                <key>compression.type</key>
                                <value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafka_2_6</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6</type>
                </processors>
                <processors>
                    <id>a7d63edb-781e-3c6e-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>928.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Destination</key>
                                <value>
                                    <name>Destination</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Return Type</key>
                                <value>
                                    <name>Return Type</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Path Not Found Behavior</key>
                                <value>
                                    <name>Path Not Found Behavior</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>
                                    <name>Null Value Representation</name>
                                </value>
                            </entry>
                            <entry>
                                <key>lines</key>
                                <value>
                                    <name>lines</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Destination</key>
                                <value>flowfile-attribute</value>
                            </entry>
                            <entry>
                                <key>Return Type</key>
                                <value>auto-detect</value>
                            </entry>
                            <entry>
                                <key>Path Not Found Behavior</key>
                                <value>ignore</value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>empty string</value>
                            </entry>
                            <entry>
                                <key>lines</key>
                                <value>$.Lines</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>bb682217-76de-3242-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>400.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>URL</key>
                                <value>
                                    <name>URL</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Filename</key>
                                <value>
                                    <name>Filename</name>
                                </value>
                            </entry>
                            <entry>
                                <key>SSL Context Service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                                    <name>SSL Context Service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Username</key>
                                <value>
                                    <name>Username</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Password</key>
                                <value>
                                    <name>Password</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Connection Timeout</key>
                                <value>
                                    <name>Connection Timeout</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Data Timeout</key>
                                <value>
                                    <name>Data Timeout</name>
                                </value>
                            </entry>
                            <entry>
                                <key>User Agent</key>
                                <value>
                                    <name>User Agent</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Accept Content-Type</key>
                                <value>
                                    <name>Accept Content-Type</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Follow Redirects</key>
                                <value>
                                    <name>Follow Redirects</name>
                                </value>
                            </entry>
                            <entry>
                                <key>redirect-cookie-policy</key>
                                <value>
                                    <name>redirect-cookie-policy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>proxy-configuration-service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                                    <name>proxy-configuration-service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Proxy Host</key>
                                <value>
                                    <name>Proxy Host</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Proxy Port</key>
                                <value>
                                    <name>Proxy Port</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>URL</key>
                                <value>http://api.um.warszawa.pl/api/action/busestrams_get/?resource_id=%20f2e5503e927d-4ad3-9500-4ab9e55deb59&amp;apikey=462aece6-ba35-4333-857b-651c2e4b7811&amp;type=2</value>
                            </entry>
                            <entry>
                                <key>Filename</key>
                                <value>trams.csv</value>
                            </entry>
                            <entry>
                                <key>SSL Context Service</key>
                            </entry>
                            <entry>
                                <key>Username</key>
                            </entry>
                            <entry>
                                <key>Password</key>
                            </entry>
                            <entry>
                                <key>Connection Timeout</key>
                                <value>30 sec</value>
                            </entry>
                            <entry>
                                <key>Data Timeout</key>
                                <value>30 sec</value>
                            </entry>
                            <entry>
                                <key>User Agent</key>
                            </entry>
                            <entry>
                                <key>Accept Content-Type</key>
                            </entry>
                            <entry>
                                <key>Follow Redirects</key>
                                <value>true</value>
                            </entry>
                            <entry>
                                <key>redirect-cookie-policy</key>
                                <value>default</value>
                            </entry>
                            <entry>
                                <key>proxy-configuration-service</key>
                            </entry>
                            <entry>
                                <key>Proxy Host</key>
                            </entry>
                            <entry>
                                <key>Proxy Port</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>10 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetHTTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetHTTP</type>
                </processors>
                <processors>
                    <id>cdf038dd-ee27-34c6-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>672.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>JsonPath Expression</key>
                                <value>
                                    <name>JsonPath Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>
                                    <name>Null Value Representation</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>JsonPath Expression</key>
                                <value>$.result</value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>trams</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>11/24/2021 19:28:59 CET</timestamp>
</template>