nifi/trams.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>70ac9da5-017c-1000-2656-afa0aa2db845</groupId>
    <name>trams</name>
    <snippet>
        <processGroups>
            <id>6899aed7-f2f7-394d-0000-000000000000</id>
            <parentGroupId>4eaf619e-07be-3b6f-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>04e97c1e-a841-392e-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>1a2972ba-3b1c-3644-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>5338acae-f146-32aa-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>1c7e3f1f-6d4b-30f9-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>cdf038dd-ee27-34c6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>bb682217-76de-3242-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>6d5f0b94-c13d-3242-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>5bf15533-2266-3178-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>04e38b6b-bdbe-3a17-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>793160ab-6d25-3f12-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>a7d63edb-781e-3c6e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>cdf038dd-ee27-34c6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>908ae3da-7adb-3270-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>260a1821-4eb7-3f2c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>a7d63edb-781e-3c6e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b37cecd7-8c3b-37b5-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>5338acae-f146-32aa-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>008f66c1-e31c-300c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>b8140644-43a0-391e-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>4d2d3c56-7274-34cb-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>merged</selectedRelationships>
                    <source>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>06a01ae1-1e11-3912-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>cd39722f-4107-3a1d-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>06a01ae1-1e11-3912-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>076fb1d9-481e-3765-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>f7faa461-c8f9-353d-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>008f66c1-e31c-300c-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>original</selectedRelationships>
                    <source>
                        <groupId>6899aed7-f2f7-394d-0000-000000000000</groupId>
                        <id>cdf038dd-ee27-34c6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>43091f5e-e010-3ffe-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
                                <name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
                                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                                <name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>Schema Write Strategy</propertyName>
                                </dependencies>
                                <name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
                                <name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
                                <dependencies>
                                    <dependentValues>confluent-encoded</dependentValues>
                                    <dependentValues>schema-name</dependentValues>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                                <name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-text-property</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>
                                <name>compression-format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>
                                <name>cache-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>encoder-pool-size</key>
                            <value>
                                <name>encoder-pool-size</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>AvroRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>avro-embedded</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>compression-format</key>
                            <value>NONE</value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>1000</value>
                        </entry>
                        <entry>
                            <key>encoder-pool-size</key>
                            <value>32</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>50378aff-a7fb-3ba7-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
                                <name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
                                <dependencies>
                                    <dependentValues>confluent-encoded</dependentValues>
                                    <dependentValues>schema-name</dependentValues>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                                <name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-text-property</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                            <value>
                                <dependencies>
                                    <dependentValues>infer-schema</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                                <name>schema-inference-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
                                <name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
                                <name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
                                <name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>JsonTreeReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonTreeReader</type>
                </controllerServices>
                <controllerServices>
                    <id>92211e84-2e82-3276-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-parquet-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <descriptors>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>
                                <name>Schema Write Strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                            <value>
                                <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                                <name>schema-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>Schema Write Strategy</propertyName>
                                </dependencies>
                                <name>schema-protocol-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
                                <name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
                                <dependencies>
                                    <dependentValues>confluent-encoded</dependentValues>
                                    <dependentValues>schema-name</dependentValues>
                                    <dependentValues>hwx-schema-ref-attributes</dependentValues>
                                    <dependentValues>hwx-content-encoded-schema</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                                <name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-name</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
                                <dependencies>
                                    <dependentValues>schema-text-property</dependentValues>
                                    <propertyName>schema-access-strategy</propertyName>
                                </dependencies>
                                <name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>
                                <name>cache-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>compression-type</key>
                            <value>
                                <name>compression-type</name>
                            </value>
                        </entry>
                        <entry>
                            <key>row-group-size</key>
                            <value>
                                <name>row-group-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>page-size</key>
                            <value>
                                <name>page-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dictionary-page-size</key>
                            <value>
                                <name>dictionary-page-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>max-padding-size</key>
                            <value>
                                <name>max-padding-size</name>
                            </value>
                        </entry>
                        <entry>
                            <key>enable-dictionary-encoding</key>
                            <value>
                                <name>enable-dictionary-encoding</name>
                            </value>
                        </entry>
                        <entry>
                            <key>enable-validation</key>
                            <value>
                                <name>enable-validation</name>
                            </value>
                        </entry>
                        <entry>
                            <key>writer-version</key>
                            <value>
                                <name>writer-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>avro-write-old-list-structure</key>
                            <value>
                                <name>avro-write-old-list-structure</name>
                            </value>
                        </entry>
                        <entry>
                            <key>avro-add-list-element-records</key>
                            <value>
                                <name>avro-add-list-element-records</name>
                            </value>
                        </entry>
                        <entry>
                            <key>int96-fields</key>
                            <value>
                                <name>int96-fields</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>ParquetRecordSetWriter</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Schema Write Strategy</key>
                            <value>no-schema</value>
                        </entry>
                        <entry>
                            <key>schema-cache</key>
                        </entry>
                        <entry>
                            <key>schema-protocol-version</key>
                            <value>1</value>
                        </entry>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>inherit-record-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>cache-size</key>
                            <value>1000</value>
                        </entry>
                        <entry>
                            <key>compression-type</key>
                            <value>UNCOMPRESSED</value>
                        </entry>
                        <entry>
                            <key>row-group-size</key>
                        </entry>
                        <entry>
                            <key>page-size</key>
                        </entry>
                        <entry>
                            <key>dictionary-page-size</key>
                        </entry>
                        <entry>
                            <key>max-padding-size</key>
                        </entry>
                        <entry>
                            <key>enable-dictionary-encoding</key>
                        </entry>
                        <entry>
                            <key>enable-validation</key>
                        </entry>
                        <entry>
                            <key>writer-version</key>
                        </entry>
                        <entry>
                            <key>avro-write-old-list-structure</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>avro-add-list-element-records</key>
                            <value>true</value>
                        </entry>
                        <entry>
                            <key>int96-fields</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.parquet.ParquetRecordSetWriter</type>
                </controllerServices>
                <controllerServices>
                    <id>f08bbc81-f2e3-38a3-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-ssl-context-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Keystore Filename</key>
                            <value>
                                <name>Keystore Filename</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Keystore Password</key>
                            <value>
                                <name>Keystore Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>key-password</key>
                            <value>
                                <name>key-password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Keystore Type</key>
                            <value>
                                <name>Keystore Type</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Truststore Filename</key>
                            <value>
                                <name>Truststore Filename</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Truststore Password</key>
                            <value>
                                <name>Truststore Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Truststore Type</key>
                            <value>
                                <name>Truststore Type</name>
                            </value>
                        </entry>
                        <entry>
                            <key>SSL Protocol</key>
                            <value>
                                <name>SSL Protocol</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>StandardRestrictedSSLContextService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Keystore Filename</key>
                        </entry>
                        <entry>
                            <key>Keystore Password</key>
                        </entry>
                        <entry>
                            <key>key-password</key>
                        </entry>
                        <entry>
                            <key>Keystore Type</key>
                        </entry>
                        <entry>
                            <key>Truststore Filename</key>
                            <value>/home/aur/run/certs/truststore.jks</value>
                        </entry>
                        <entry>
                            <key>Truststore Password</key>
                        </entry>
                        <entry>
                            <key>Truststore Type</key>
                            <value>JKS</value>
                        </entry>
                        <entry>
                            <key>SSL Protocol</key>
                            <value>TLS</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.ssl.StandardRestrictedSSLContextService</type>
                </controllerServices>
                <processors>
                    <id>008f66c1-e31c-300c-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>672.0</x>
                        <y>928.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>record-reader</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                                    <name>record-reader</name>
                                </value>
                            </entry>
                            <entry>
                                <key>record-writer</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                                    <name>record-writer</name>
                                </value>
                            </entry>
                            <entry>
                                <key>include-zero-record-flowfiles</key>
                                <value>
                                    <name>include-zero-record-flowfiles</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>record-reader</key>
                                <value>50378aff-a7fb-3ba7-0000-000000000000</value>
                            </entry>
                            <entry>
                                <key>record-writer</key>
                                <value>43091f5e-e010-3ffe-0000-000000000000</value>
                            </entry>
                            <entry>
                                <key>include-zero-record-flowfiles</key>
                                <value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                </processors>
                <processors>
                    <id>04e38b6b-bdbe-3a17-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>1168.0</x>
                        <y>512.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-2-6-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>bootstrap.servers</key>
                                <value>
                                    <name>bootstrap.servers</name>
                                </value>
                            </entry>
                            <entry>
                                <key>security.protocol</key>
                                <value>
                                    <name>security.protocol</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.mechanism</key>
                                <value>
                                    <name>sasl.mechanism</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.service.name</key>
                                <value>
                                    <name>sasl.kerberos.service.name</name>
                                </value>
                            </entry>
                            <entry>
                                <key>kerberos-credentials-service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                                    <name>kerberos-credentials-service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.principal</key>
                                <value>
                                    <name>sasl.kerberos.principal</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.keytab</key>
                                <value>
                                    <name>sasl.kerberos.keytab</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.username</key>
                                <value>
                                    <name>sasl.username</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.password</key>
                                <value>
                                    <name>sasl.password</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.token.auth</key>
                                <value>
                                    <name>sasl.token.auth</name>
                                </value>
                            </entry>
                            <entry>
                                <key>ssl.context.service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                                    <name>ssl.context.service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>topic</key>
                                <value>
                                    <name>topic</name>
                                </value>
                            </entry>
                            <entry>
                                <key>topic_type</key>
                                <value>
                                    <name>topic_type</name>
                                </value>
                            </entry>
                            <entry>
                                <key>honor-transactions</key>
                                <value>
                                    <name>honor-transactions</name>
                                </value>
                            </entry>
                            <entry>
                                <key>group.id</key>
                                <value>
                                    <name>group.id</name>
                                </value>
                            </entry>
                            <entry>
                                <key>auto.offset.reset</key>
                                <value>
                                    <name>auto.offset.reset</name>
                                </value>
                            </entry>
                            <entry>
                                <key>key-attribute-encoding</key>
                                <value>
                                    <name>key-attribute-encoding</name>
                                </value>
                            </entry>
                            <entry>
                                <key>message-demarcator</key>
                                <value>
                                    <name>message-demarcator</name>
                                </value>
                            </entry>
                            <entry>
                                <key>separate-by-key</key>
                                <value>
                                    <name>separate-by-key</name>
                                </value>
                            </entry>
                            <entry>
                                <key>message-header-encoding</key>
                                <value>
                                    <name>message-header-encoding</name>
                                </value>
                            </entry>
                            <entry>
                                <key>header-name-regex</key>
                                <value>
                                    <name>header-name-regex</name>
                                </value>
                            </entry>
                            <entry>
                                <key>max.poll.records</key>
                                <value>
                                    <name>max.poll.records</name>
                                </value>
                            </entry>
                            <entry>
                                <key>max-uncommit-offset-wait</key>
                                <value>
                                    <name>max-uncommit-offset-wait</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Communications Timeout</key>
                                <value>
                                    <name>Communications Timeout</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>bootstrap.servers</key>
                                <value>localhost:9092</value>
                            </entry>
                            <entry>
                                <key>security.protocol</key>
                                <value>PLAINTEXT</value>
                            </entry>
                            <entry>
                                <key>sasl.mechanism</key>
                                <value>GSSAPI</value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
                                <key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
                                <key>sasl.username</key>
                            </entry>
                            <entry>
                                <key>sasl.password</key>
                            </entry>
                            <entry>
                                <key>sasl.token.auth</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>ssl.context.service</key>
                            </entry>
                            <entry>
                                <key>topic</key>
                                <value>fast-trams</value>
                            </entry>
                            <entry>
                                <key>topic_type</key>
                                <value>names</value>
                            </entry>
                            <entry>
                                <key>honor-transactions</key>
                                <value>true</value>
                            </entry>
                            <entry>
                                <key>group.id</key>
                                <value>fast</value>
                            </entry>
                            <entry>
                                <key>auto.offset.reset</key>
                                <value>latest</value>
                            </entry>
                            <entry>
                                <key>key-attribute-encoding</key>
                                <value>utf-8</value>
                            </entry>
                            <entry>
                                <key>message-demarcator</key>
                            </entry>
                            <entry>
                                <key>separate-by-key</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>message-header-encoding</key>
                                <value>UTF-8</value>
                            </entry>
                            <entry>
                                <key>header-name-regex</key>
                            </entry>
                            <entry>
                                <key>max.poll.records</key>
                                <value>10000</value>
                            </entry>
                            <entry>
                                <key>max-uncommit-offset-wait</key>
                                <value>1 secs</value>
                            </entry>
                            <entry>
                                <key>Communications Timeout</key>
                                <value>60 secs</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConsumeKafka_2_6</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6</type>
                </processors>
                <processors>
                    <id>06a01ae1-1e11-3912-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>1664.0</x>
                        <y>696.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>record-reader</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                                    <name>record-reader</name>
                                </value>
                            </entry>
                            <entry>
                                <key>record-writer</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                                    <name>record-writer</name>
                                </value>
                            </entry>
                            <entry>
                                <key>merge-strategy</key>
                                <value>
                                    <name>merge-strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>correlation-attribute-name</key>
                                <value>
                                    <name>correlation-attribute-name</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Attribute Strategy</key>
                                <value>
                                    <name>Attribute Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>min-records</key>
                                <value>
                                    <name>min-records</name>
                                </value>
                            </entry>
                            <entry>
                                <key>max-records</key>
                                <value>
                                    <name>max-records</name>
                                </value>
                            </entry>
                            <entry>
                                <key>min-bin-size</key>
                                <value>
                                    <name>min-bin-size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>max-bin-size</key>
                                <value>
                                    <name>max-bin-size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>max-bin-age</key>
                                <value>
                                    <name>max-bin-age</name>
                                </value>
                            </entry>
                            <entry>
                                <key>max.bin.count</key>
                                <value>
                                    <name>max.bin.count</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>record-reader</key>
                                <value>50378aff-a7fb-3ba7-0000-000000000000</value>
                            </entry>
                            <entry>
                                <key>record-writer</key>
                                <value>92211e84-2e82-3276-0000-000000000000</value>
                            </entry>
                            <entry>
                                <key>merge-strategy</key>
                                <value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
                                <key>correlation-attribute-name</key>
                            </entry>
                            <entry>
                                <key>Attribute Strategy</key>
                                <value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
                                <key>min-records</key>
                                <value>100</value>
                            </entry>
                            <entry>
                                <key>max-records</key>
                                <value>1000</value>
                            </entry>
                            <entry>
                                <key>min-bin-size</key>
                                <value>0 B</value>
                            </entry>
                            <entry>
                                <key>max-bin-size</key>
                            </entry>
                            <entry>
                                <key>max-bin-age</key>
                            </entry>
                            <entry>
                                <key>max.bin.count</key>
                                <value>10</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeRecord</type>
                </processors>
                <processors>
                    <id>076fb1d9-481e-3765-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>1664.0</x>
                        <y>512.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-2-6-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>bootstrap.servers</key>
                                <value>
                                    <name>bootstrap.servers</name>
                                </value>
                            </entry>
                            <entry>
                                <key>security.protocol</key>
                                <value>
                                    <name>security.protocol</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.mechanism</key>
                                <value>
                                    <name>sasl.mechanism</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.service.name</key>
                                <value>
                                    <name>sasl.kerberos.service.name</name>
                                </value>
                            </entry>
                            <entry>
                                <key>kerberos-credentials-service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                                    <name>kerberos-credentials-service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.principal</key>
                                <value>
                                    <name>sasl.kerberos.principal</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.keytab</key>
                                <value>
                                    <name>sasl.kerberos.keytab</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.username</key>
                                <value>
                                    <name>sasl.username</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.password</key>
                                <value>
                                    <name>sasl.password</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.token.auth</key>
                                <value>
                                    <name>sasl.token.auth</name>
                                </value>
                            </entry>
                            <entry>
                                <key>ssl.context.service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                                    <name>ssl.context.service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>topic</key>
                                <value>
                                    <name>topic</name>
                                </value>
                            </entry>
                            <entry>
                                <key>topic_type</key>
                                <value>
                                    <name>topic_type</name>
                                </value>
                            </entry>
                            <entry>
                                <key>honor-transactions</key>
                                <value>
                                    <name>honor-transactions</name>
                                </value>
                            </entry>
                            <entry>
                                <key>group.id</key>
                                <value>
                                    <name>group.id</name>
                                </value>
                            </entry>
                            <entry>
                                <key>auto.offset.reset</key>
                                <value>
                                    <name>auto.offset.reset</name>
                                </value>
                            </entry>
                            <entry>
                                <key>key-attribute-encoding</key>
                                <value>
                                    <name>key-attribute-encoding</name>
                                </value>
                            </entry>
                            <entry>
                                <key>message-demarcator</key>
                                <value>
                                    <name>message-demarcator</name>
                                </value>
                            </entry>
                            <entry>
                                <key>separate-by-key</key>
                                <value>
                                    <name>separate-by-key</name>
                                </value>
                            </entry>
                            <entry>
                                <key>message-header-encoding</key>
                                <value>
                                    <name>message-header-encoding</name>
                                </value>
                            </entry>
                            <entry>
                                <key>header-name-regex</key>
                                <value>
                                    <name>header-name-regex</name>
                                </value>
                            </entry>
                            <entry>
                                <key>max.poll.records</key>
                                <value>
                                    <name>max.poll.records</name>
                                </value>
                            </entry>
                            <entry>
                                <key>max-uncommit-offset-wait</key>
                                <value>
                                    <name>max-uncommit-offset-wait</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Communications Timeout</key>
                                <value>
                                    <name>Communications Timeout</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>bootstrap.servers</key>
                                <value>localhost:9092</value>
                            </entry>
                            <entry>
                                <key>security.protocol</key>
                                <value>PLAINTEXT</value>
                            </entry>
                            <entry>
                                <key>sasl.mechanism</key>
                                <value>GSSAPI</value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
                                <key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
                                <key>sasl.username</key>
                            </entry>
                            <entry>
                                <key>sasl.password</key>
                            </entry>
                            <entry>
                                <key>sasl.token.auth</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>ssl.context.service</key>
                            </entry>
                            <entry>
                                <key>topic</key>
                                <value>output-trams</value>
                            </entry>
                            <entry>
                                <key>topic_type</key>
                                <value>names</value>
                            </entry>
                            <entry>
                                <key>honor-transactions</key>
                                <value>true</value>
                            </entry>
                            <entry>
                                <key>group.id</key>
                                <value>output</value>
                            </entry>
                            <entry>
                                <key>auto.offset.reset</key>
                                <value>latest</value>
                            </entry>
                            <entry>
                                <key>key-attribute-encoding</key>
                                <value>utf-8</value>
                            </entry>
                            <entry>
                                <key>message-demarcator</key>
                            </entry>
                            <entry>
                                <key>separate-by-key</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>message-header-encoding</key>
                                <value>UTF-8</value>
                            </entry>
                            <entry>
                                <key>header-name-regex</key>
                            </entry>
                            <entry>
                                <key>max.poll.records</key>
                                <value>10000</value>
                            </entry>
                            <entry>
                                <key>max-uncommit-offset-wait</key>
                                <value>1 secs</value>
                            </entry>
                            <entry>
                                <key>Communications Timeout</key>
                                <value>60 secs</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConsumeKafka_2_6</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6</type>
                </processors>
                <processors>
                    <id>1a2972ba-3b1c-3644-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>664.0</x>
                        <y>1336.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Hadoop Configuration Resources</key>
                                <value>
                                    <name>Hadoop Configuration Resources</name>
                                </value>
                            </entry>
                            <entry>
                                <key>kerberos-credentials-service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                                    <name>kerberos-credentials-service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Kerberos Principal</key>
                                <value>
                                    <name>Kerberos Principal</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Kerberos Keytab</key>
                                <value>
                                    <name>Kerberos Keytab</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Kerberos Password</key>
                                <value>
                                    <name>Kerberos Password</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Kerberos Relogin Period</key>
                                <value>
                                    <name>Kerberos Relogin Period</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Additional Classpath Resources</key>
                                <value>
                                    <name>Additional Classpath Resources</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Directory</key>
                                <value>
                                    <name>Directory</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Conflict Resolution Strategy</key>
                                <value>
                                    <name>Conflict Resolution Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Block Size</key>
                                <value>
                                    <name>Block Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>IO Buffer Size</key>
                                <value>
                                    <name>IO Buffer Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Replication</key>
                                <value>
                                    <name>Replication</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Permissions umask</key>
                                <value>
                                    <name>Permissions umask</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Remote Owner</key>
                                <value>
                                    <name>Remote Owner</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Remote Group</key>
                                <value>
                                    <name>Remote Group</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Compression codec</key>
                                <value>
                                    <name>Compression codec</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Ignore Locality</key>
                                <value>
                                    <name>Ignore Locality</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Hadoop Configuration Resources</key>
                                <value>/home/aur/run/hadoop-3.3.1/etc/hadoop/core-site.xml,/home/aur/run/hadoop-3.3.1/etc/hadoop/hdfs-site.xml</value>
                            </entry>
                            <entry>
                                <key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
                                <key>Kerberos Principal</key>
                            </entry>
                            <entry>
                                <key>Kerberos Keytab</key>
                            </entry>
                            <entry>
                                <key>Kerberos Password</key>
                            </entry>
                            <entry>
                                <key>Kerberos Relogin Period</key>
                                <value>4 hours</value>
                            </entry>
                            <entry>
                                <key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
                                <key>Directory</key>
                                <value>/data/in</value>
                            </entry>
                            <entry>
                                <key>Conflict Resolution Strategy</key>
                                <value>fail</value>
                            </entry>
                            <entry>
                                <key>Block Size</key>
                            </entry>
                            <entry>
                                <key>IO Buffer Size</key>
                            </entry>
                            <entry>
                                <key>Replication</key>
                            </entry>
                            <entry>
                                <key>Permissions umask</key>
                            </entry>
                            <entry>
                                <key>Remote Owner</key>
                            </entry>
                            <entry>
                                <key>Remote Group</key>
                            </entry>
                            <entry>
                                <key>Compression codec</key>
                                <value>NONE</value>
                            </entry>
                            <entry>
                                <key>Ignore Locality</key>
                                <value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutHDFS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                </processors>
                <processors>
                    <id>260a1821-4eb7-3f2c-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>1144.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-kafka-2-6-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>bootstrap.servers</key>
                                <value>
                                    <name>bootstrap.servers</name>
                                </value>
                            </entry>
                            <entry>
                                <key>security.protocol</key>
                                <value>
                                    <name>security.protocol</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.mechanism</key>
                                <value>
                                    <name>sasl.mechanism</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.service.name</key>
                                <value>
                                    <name>sasl.kerberos.service.name</name>
                                </value>
                            </entry>
                            <entry>
                                <key>kerberos-credentials-service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                                    <name>kerberos-credentials-service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.principal</key>
                                <value>
                                    <name>sasl.kerberos.principal</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.keytab</key>
                                <value>
                                    <name>sasl.kerberos.keytab</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.username</key>
                                <value>
                                    <name>sasl.username</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.password</key>
                                <value>
                                    <name>sasl.password</name>
                                </value>
                            </entry>
                            <entry>
                                <key>sasl.token.auth</key>
                                <value>
                                    <name>sasl.token.auth</name>
                                </value>
                            </entry>
                            <entry>
                                <key>ssl.context.service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                                    <name>ssl.context.service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>topic</key>
                                <value>
                                    <name>topic</name>
                                </value>
                            </entry>
                            <entry>
                                <key>acks</key>
                                <value>
                                    <name>acks</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Failure Strategy</key>
                                <value>
                                    <name>Failure Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>use-transactions</key>
                                <value>
                                    <name>use-transactions</name>
                                </value>
                            </entry>
                            <entry>
                                <key>transactional-id-prefix</key>
                                <value>
                                    <name>transactional-id-prefix</name>
                                </value>
                            </entry>
                            <entry>
                                <key>attribute-name-regex</key>
                                <value>
                                    <name>attribute-name-regex</name>
                                </value>
                            </entry>
                            <entry>
                                <key>message-header-encoding</key>
                                <value>
                                    <name>message-header-encoding</name>
                                </value>
                            </entry>
                            <entry>
                                <key>kafka-key</key>
                                <value>
                                    <name>kafka-key</name>
                                </value>
                            </entry>
                            <entry>
                                <key>key-attribute-encoding</key>
                                <value>
                                    <name>key-attribute-encoding</name>
                                </value>
                            </entry>
                            <entry>
                                <key>message-demarcator</key>
                                <value>
                                    <name>message-demarcator</name>
                                </value>
                            </entry>
                            <entry>
                                <key>max.request.size</key>
                                <value>
                                    <name>max.request.size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>ack.wait.time</key>
                                <value>
                                    <name>ack.wait.time</name>
                                </value>
                            </entry>
                            <entry>
                                <key>max.block.ms</key>
                                <value>
                                    <name>max.block.ms</name>
                                </value>
                            </entry>
                            <entry>
                                <key>partitioner.class</key>
                                <value>
                                    <name>partitioner.class</name>
                                </value>
                            </entry>
                            <entry>
                                <key>partition</key>
                                <value>
                                    <name>partition</name>
                                </value>
                            </entry>
                            <entry>
                                <key>compression.type</key>
                                <value>
                                    <name>compression.type</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>bootstrap.servers</key>
                                <value>localhost:9092</value>
                            </entry>
                            <entry>
                                <key>security.protocol</key>
                                <value>PLAINTEXT</value>
                            </entry>
                            <entry>
                                <key>sasl.mechanism</key>
                                <value>GSSAPI</value>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.service.name</key>
                            </entry>
                            <entry>
                                <key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.principal</key>
                            </entry>
                            <entry>
                                <key>sasl.kerberos.keytab</key>
                            </entry>
                            <entry>
                                <key>sasl.username</key>
                            </entry>
                            <entry>
                                <key>sasl.password</key>
                            </entry>
                            <entry>
                                <key>sasl.token.auth</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>ssl.context.service</key>
                            </entry>
                            <entry>
                                <key>topic</key>
                                <value>input-trams</value>
                            </entry>
                            <entry>
                                <key>acks</key>
                                <value>0</value>
                            </entry>
                            <entry>
                                <key>Failure Strategy</key>
                                <value>Route to Failure</value>
                            </entry>
                            <entry>
                                <key>use-transactions</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>transactional-id-prefix</key>
                            </entry>
                            <entry>
                                <key>attribute-name-regex</key>
                            </entry>
                            <entry>
                                <key>message-header-encoding</key>
                                <value>UTF-8</value>
                            </entry>
                            <entry>
                                <key>kafka-key</key>
                                <value>${lines}</value>
                            </entry>
                            <entry>
                                <key>key-attribute-encoding</key>
                                <value>utf-8</value>
                            </entry>
                            <entry>
                                <key>message-demarcator</key>
                            </entry>
                            <entry>
                                <key>max.request.size</key>
                                <value>1 MB</value>
                            </entry>
                            <entry>
                                <key>ack.wait.time</key>
                                <value>5 secs</value>
                            </entry>
                            <entry>
                                <key>max.block.ms</key>
                                <value>5 sec</value>
                            </entry>
                            <entry>
                                <key>partitioner.class</key>
                                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
                            </entry>
                            <entry>
                                <key>partition</key>
                            </entry>
                            <entry>
                                <key>compression.type</key>
                                <value>none</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PublishKafka_2_6</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6</type>
                </processors>
                <processors>
                    <id>4d2d3c56-7274-34cb-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>1656.0</x>
                        <y>872.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-hadoop-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Hadoop Configuration Resources</key>
                                <value>
                                    <name>Hadoop Configuration Resources</name>
                                </value>
                            </entry>
                            <entry>
                                <key>kerberos-credentials-service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                                    <name>kerberos-credentials-service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Kerberos Principal</key>
                                <value>
                                    <name>Kerberos Principal</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Kerberos Keytab</key>
                                <value>
                                    <name>Kerberos Keytab</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Kerberos Password</key>
                                <value>
                                    <name>Kerberos Password</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Kerberos Relogin Period</key>
                                <value>
                                    <name>Kerberos Relogin Period</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Additional Classpath Resources</key>
                                <value>
                                    <name>Additional Classpath Resources</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Directory</key>
                                <value>
                                    <name>Directory</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Conflict Resolution Strategy</key>
                                <value>
                                    <name>Conflict Resolution Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Block Size</key>
                                <value>
                                    <name>Block Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>IO Buffer Size</key>
                                <value>
                                    <name>IO Buffer Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Replication</key>
                                <value>
                                    <name>Replication</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Permissions umask</key>
                                <value>
                                    <name>Permissions umask</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Remote Owner</key>
                                <value>
                                    <name>Remote Owner</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Remote Group</key>
                                <value>
                                    <name>Remote Group</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Compression codec</key>
                                <value>
                                    <name>Compression codec</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Ignore Locality</key>
                                <value>
                                    <name>Ignore Locality</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Hadoop Configuration Resources</key>
                                <value>/home/aur/run/hadoop-3.3.1/etc/hadoop/core-site.xml,/home/aur/run/hadoop-3.3.1/etc/hadoop/hdfs-site.xml</value>
                            </entry>
                            <entry>
                                <key>kerberos-credentials-service</key>
                            </entry>
                            <entry>
                                <key>Kerberos Principal</key>
                            </entry>
                            <entry>
                                <key>Kerberos Keytab</key>
                            </entry>
                            <entry>
                                <key>Kerberos Password</key>
                            </entry>
                            <entry>
                                <key>Kerberos Relogin Period</key>
                                <value>4 hours</value>
                            </entry>
                            <entry>
                                <key>Additional Classpath Resources</key>
                            </entry>
                            <entry>
                                <key>Directory</key>
                                <value>/data/trams</value>
                            </entry>
                            <entry>
                                <key>Conflict Resolution Strategy</key>
                                <value>ignore</value>
                            </entry>
                            <entry>
                                <key>Block Size</key>
                            </entry>
                            <entry>
                                <key>IO Buffer Size</key>
                            </entry>
                            <entry>
                                <key>Replication</key>
                            </entry>
                            <entry>
                                <key>Permissions umask</key>
                            </entry>
                            <entry>
                                <key>Remote Owner</key>
                            </entry>
                            <entry>
                                <key>Remote Group</key>
                            </entry>
                            <entry>
                                <key>Compression codec</key>
                                <value>NONE</value>
                            </entry>
                            <entry>
                                <key>Ignore Locality</key>
                                <value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutHDFS</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
                </processors>
                <processors>
                    <id>5338acae-f146-32aa-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>672.0</x>
                        <y>1144.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Merge Strategy</key>
                                <value>
                                    <name>Merge Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Merge Format</key>
                                <value>
                                    <name>Merge Format</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Attribute Strategy</key>
                                <value>
                                    <name>Attribute Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Correlation Attribute Name</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Bin-Packing Algorithm</dependentValues>
                                        <propertyName>Merge Strategy</propertyName>
                                    </dependencies>
                                    <name>Correlation Attribute Name</name>
                                </value>
                            </entry>
                            <entry>
                                <key>mergecontent-metadata-strategy</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Avro</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>mergecontent-metadata-strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Minimum Number of Entries</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Bin-Packing Algorithm</dependentValues>
                                        <propertyName>Merge Strategy</propertyName>
                                    </dependencies>
                                    <name>Minimum Number of Entries</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Maximum Number of Entries</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Bin-Packing Algorithm</dependentValues>
                                        <propertyName>Merge Strategy</propertyName>
                                    </dependencies>
                                    <name>Maximum Number of Entries</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Minimum Group Size</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Bin-Packing Algorithm</dependentValues>
                                        <propertyName>Merge Strategy</propertyName>
                                    </dependencies>
                                    <name>Minimum Group Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Maximum Group Size</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Bin-Packing Algorithm</dependentValues>
                                        <propertyName>Merge Strategy</propertyName>
                                    </dependencies>
                                    <name>Maximum Group Size</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Max Bin Age</key>
                                <value>
                                    <name>Max Bin Age</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Maximum number of Bins</key>
                                <value>
                                    <name>Maximum number of Bins</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Delimiter Strategy</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Binary Concatenation</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>Delimiter Strategy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Header File</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Filename</dependentValues>
                                        <dependentValues>Text</dependentValues>
                                        <propertyName>Delimiter Strategy</propertyName>
                                    </dependencies>
                                    <dependencies>
                                        <dependentValues>Binary Concatenation</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>Header File</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Footer File</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Filename</dependentValues>
                                        <dependentValues>Text</dependentValues>
                                        <propertyName>Delimiter Strategy</propertyName>
                                    </dependencies>
                                    <dependencies>
                                        <dependentValues>Binary Concatenation</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>Footer File</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Demarcator File</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>Filename</dependentValues>
                                        <dependentValues>Text</dependentValues>
                                        <propertyName>Delimiter Strategy</propertyName>
                                    </dependencies>
                                    <dependencies>
                                        <dependentValues>Binary Concatenation</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>Demarcator File</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Compression Level</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>ZIP</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>Compression Level</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Keep Path</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>ZIP</dependentValues>
                                        <dependentValues>TAR</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>Keep Path</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Tar Modified Time</key>
                                <value>
                                    <dependencies>
                                        <dependentValues>TAR</dependentValues>
                                        <propertyName>Merge Format</propertyName>
                                    </dependencies>
                                    <name>Tar Modified Time</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Merge Strategy</key>
                                <value>Bin-Packing Algorithm</value>
                            </entry>
                            <entry>
                                <key>Merge Format</key>
                                <value>Avro</value>
                            </entry>
                            <entry>
                                <key>Attribute Strategy</key>
                                <value>Keep Only Common Attributes</value>
                            </entry>
                            <entry>
                                <key>Correlation Attribute Name</key>
                            </entry>
                            <entry>
                                <key>mergecontent-metadata-strategy</key>
                                <value>Do Not Merge Uncommon Metadata</value>
                            </entry>
                            <entry>
                                <key>Minimum Number of Entries</key>
                                <value>1</value>
                            </entry>
                            <entry>
                                <key>Maximum Number of Entries</key>
                                <value>1000</value>
                            </entry>
                            <entry>
                                <key>Minimum Group Size</key>
                                <value>0 B</value>
                            </entry>
                            <entry>
                                <key>Maximum Group Size</key>
                            </entry>
                            <entry>
                                <key>Max Bin Age</key>
                            </entry>
                            <entry>
                                <key>Maximum number of Bins</key>
                                <value>5</value>
                            </entry>
                            <entry>
                                <key>Delimiter Strategy</key>
                                <value>Do Not Use Delimiters</value>
                            </entry>
                            <entry>
                                <key>Header File</key>
                            </entry>
                            <entry>
                                <key>Footer File</key>
                            </entry>
                            <entry>
                                <key>Demarcator File</key>
                            </entry>
                            <entry>
                                <key>Compression Level</key>
                                <value>1</value>
                            </entry>
                            <entry>
                                <key>Keep Path</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>Tar Modified Time</key>
                                <value>${file.lastModifiedTime}</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>MergeContent</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>merged</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.MergeContent</type>
                </processors>
                <processors>
                    <id>5bf15533-2266-3178-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>1168.0</x>
                        <y>720.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>SMTP Hostname</key>
                                <value>
                                    <name>SMTP Hostname</name>
                                </value>
                            </entry>
                            <entry>
                                <key>SMTP Port</key>
                                <value>
                                    <name>SMTP Port</name>
                                </value>
                            </entry>
                            <entry>
                                <key>SMTP Username</key>
                                <value>
                                    <name>SMTP Username</name>
                                </value>
                            </entry>
                            <entry>
                                <key>SMTP Password</key>
                                <value>
                                    <name>SMTP Password</name>
                                </value>
                            </entry>
                            <entry>
                                <key>SMTP Auth</key>
                                <value>
                                    <name>SMTP Auth</name>
                                </value>
                            </entry>
                            <entry>
                                <key>SMTP TLS</key>
                                <value>
                                    <name>SMTP TLS</name>
                                </value>
                            </entry>
                            <entry>
                                <key>SMTP Socket Factory</key>
                                <value>
                                    <name>SMTP Socket Factory</name>
                                </value>
                            </entry>
                            <entry>
                                <key>SMTP X-Mailer Header</key>
                                <value>
                                    <name>SMTP X-Mailer Header</name>
                                </value>
                            </entry>
                            <entry>
                                <key>attribute-name-regex</key>
                                <value>
                                    <name>attribute-name-regex</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Content Type</key>
                                <value>
                                    <name>Content Type</name>
                                </value>
                            </entry>
                            <entry>
                                <key>From</key>
                                <value>
                                    <name>From</name>
                                </value>
                            </entry>
                            <entry>
                                <key>To</key>
                                <value>
                                    <name>To</name>
                                </value>
                            </entry>
                            <entry>
                                <key>CC</key>
                                <value>
                                    <name>CC</name>
                                </value>
                            </entry>
                            <entry>
                                <key>BCC</key>
                                <value>
                                    <name>BCC</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Subject</key>
                                <value>
                                    <name>Subject</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Message</key>
                                <value>
                                    <name>Message</name>
                                </value>
                            </entry>
                            <entry>
                                <key>email-ff-content-as-message</key>
                                <value>
                                    <name>email-ff-content-as-message</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Attach File</key>
                                <value>
                                    <name>Attach File</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Include All Attributes In Message</key>
                                <value>
                                    <name>Include All Attributes In Message</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>SMTP Hostname</key>
                                <value>smtp.gmail.com</value>
                            </entry>
                            <entry>
                                <key>SMTP Port</key>
                                <value>587</value>
                            </entry>
                            <entry>
                                <key>SMTP Username</key>
                                <value>artystadziura@gmail.com</value>
                            </entry>
                            <entry>
                                <key>SMTP Password</key>
                            </entry>
                            <entry>
                                <key>SMTP Auth</key>
                                <value>true</value>
                            </entry>
                            <entry>
                                <key>SMTP TLS</key>
                                <value>true</value>
                            </entry>
                            <entry>
                                <key>SMTP Socket Factory</key>
                                <value>javax.net.ssl.SSLSocketFactory</value>
                            </entry>
                            <entry>
                                <key>SMTP X-Mailer Header</key>
                                <value>NiFi</value>
                            </entry>
                            <entry>
                                <key>attribute-name-regex</key>
                            </entry>
                            <entry>
                                <key>Content Type</key>
                                <value>text/plain</value>
                            </entry>
                            <entry>
                                <key>From</key>
                                <value>Fast trams</value>
                            </entry>
                            <entry>
                                <key>To</key>
                                <value>aurbala@gmail.com</value>
                            </entry>
                            <entry>
                                <key>CC</key>
                            </entry>
                            <entry>
                                <key>BCC</key>
                            </entry>
                            <entry>
                                <key>Subject</key>
                                <value>Szybkie tramwaje w twojej okolicy</value>
                            </entry>
                            <entry>
                                <key>Message</key>
                            </entry>
                            <entry>
                                <key>email-ff-content-as-message</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>Attach File</key>
                                <value>false</value>
                            </entry>
                            <entry>
                                <key>Include All Attributes In Message</key>
                                <value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutEmail</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutEmail</type>
                </processors>
                <processors>
                    <id>a7d63edb-781e-3c6e-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>928.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>Destination</key>
                                <value>
                                    <name>Destination</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Return Type</key>
                                <value>
                                    <name>Return Type</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Path Not Found Behavior</key>
                                <value>
                                    <name>Path Not Found Behavior</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>
                                    <name>Null Value Representation</name>
                                </value>
                            </entry>
                            <entry>
                                <key>lines</key>
                                <value>
                                    <name>lines</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>Destination</key>
                                <value>flowfile-attribute</value>
                            </entry>
                            <entry>
                                <key>Return Type</key>
                                <value>auto-detect</value>
                            </entry>
                            <entry>
                                <key>Path Not Found Behavior</key>
                                <value>ignore</value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>empty string</value>
                            </entry>
                            <entry>
                                <key>lines</key>
                                <value>$.Lines</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>EvaluateJsonPath</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.EvaluateJsonPath</type>
                </processors>
                <processors>
                    <id>bb682217-76de-3242-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>400.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>URL</key>
                                <value>
                                    <name>URL</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Filename</key>
                                <value>
                                    <name>Filename</name>
                                </value>
                            </entry>
                            <entry>
                                <key>SSL Context Service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                                    <name>SSL Context Service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Username</key>
                                <value>
                                    <name>Username</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Password</key>
                                <value>
                                    <name>Password</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Connection Timeout</key>
                                <value>
                                    <name>Connection Timeout</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Data Timeout</key>
                                <value>
                                    <name>Data Timeout</name>
                                </value>
                            </entry>
                            <entry>
                                <key>User Agent</key>
                                <value>
                                    <name>User Agent</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Accept Content-Type</key>
                                <value>
                                    <name>Accept Content-Type</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Follow Redirects</key>
                                <value>
                                    <name>Follow Redirects</name>
                                </value>
                            </entry>
                            <entry>
                                <key>redirect-cookie-policy</key>
                                <value>
                                    <name>redirect-cookie-policy</name>
                                </value>
                            </entry>
                            <entry>
                                <key>proxy-configuration-service</key>
                                <value>
                                    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                                    <name>proxy-configuration-service</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Proxy Host</key>
                                <value>
                                    <name>Proxy Host</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Proxy Port</key>
                                <value>
                                    <name>Proxy Port</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>URL</key>
                                <value>https://api.um.warszawa.pl/api/action/busestrams_get/?resource_id=%20f2e5503e927d-4ad3-9500-4ab9e55deb59&amp;apikey=462aece6-ba35-4333-857b-651c2e4b7811&amp;type=2</value>
                            </entry>
                            <entry>
                                <key>Filename</key>
                                <value>trams.csv</value>
                            </entry>
                            <entry>
                                <key>SSL Context Service</key>
                                <value>f08bbc81-f2e3-38a3-0000-000000000000</value>
                            </entry>
                            <entry>
                                <key>Username</key>
                            </entry>
                            <entry>
                                <key>Password</key>
                            </entry>
                            <entry>
                                <key>Connection Timeout</key>
                                <value>30 sec</value>
                            </entry>
                            <entry>
                                <key>Data Timeout</key>
                                <value>30 sec</value>
                            </entry>
                            <entry>
                                <key>User Agent</key>
                            </entry>
                            <entry>
                                <key>Accept Content-Type</key>
                            </entry>
                            <entry>
                                <key>Follow Redirects</key>
                                <value>true</value>
                            </entry>
                            <entry>
                                <key>redirect-cookie-policy</key>
                                <value>default</value>
                            </entry>
                            <entry>
                                <key>proxy-configuration-service</key>
                            </entry>
                            <entry>
                                <key>Proxy Host</key>
                            </entry>
                            <entry>
                                <key>Proxy Port</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GetHTTP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetHTTP</type>
                </processors>
                <processors>
                    <id>cdf038dd-ee27-34c6-0000-000000000000</id>
                    <parentGroupId>6899aed7-f2f7-394d-0000-000000000000</parentGroupId>
                    <position>
                        <x>288.0</x>
                        <y>672.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.14.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
                                <key>JsonPath Expression</key>
                                <value>
                                    <name>JsonPath Expression</name>
                                </value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>
                                    <name>Null Value Representation</name>
                                </value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
                                <key>JsonPath Expression</key>
                                <value>$.result</value>
                            </entry>
                            <entry>
                                <key>Null Value Representation</key>
                                <value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
            </contents>
            <defaultBackPressureDataSizeThreshold>1 GB</defaultBackPressureDataSizeThreshold>
            <defaultBackPressureObjectThreshold>10000</defaultBackPressureObjectThreshold>
            <defaultFlowFileExpiration>0 sec</defaultFlowFileExpiration>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>trams</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>12/21/2021 19:33:20 CET</timestamp>
</template>